#div_root{
    margin:auto;
    width:1080px;
}

#div_main{
    width:1080px;
    position:fixed;
    top:0;
    height:160px;
    text-align:center;
    background-color: white;
}

#feedcontainer{
    padding-top:155px;
    padding-bottom:155px;
    width:100%;
    background-color: #F0F0F0;
}

#searchBtn{
    float:left;
    margin-top:47px;
    margin-left:47px;
    width:66px;
    height:66px;
}
#searchInput{
    float:left;
    margin-left:66px;
    margin-top:50px;
    height:60px;
    width:698px;
    border:0;
    outline:0;
    border-radius:30px;
    background-color:#F0F0F0;
}
#namingBtn{
    float:right;
    margin-top:44px;
    margin-right:41.49px;
    width:132.23px;
    height:71.51px;
}

.modal{
  font-size: 36px;
}

.btn{
  font-size: 24px;
}

.tabtitle{
    padding-left: 20px;
}

.cfimage{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 50%;
}

.col-sm-4{
  text-align: center;
}

.toast{
  max-width: 1000px;
}

.toast-header{
  padding: 20px;
  text-align: center;
  font-size: 36px;
}


body{
  margin-top: 100px;
  font-family: 'Trebuchet MS', serif;
  line-height: 1.6
}
.contai{
  width: 500px;
  margin: 0 auto;
}
 
 
 
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
 
ul.tabs li.current{
  background: #ededed;
  color: #222;
}
 
.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}
 
.tab-content.current{
  display: inherit;
}