#div_root{
    margin:auto;
    width:1080px;
}

#div_main{
    width:1080px;
    position:fixed;
    top:0;
    height:120px;
    text-align:center;
    background-color: white;
}

#back{
    float:left;
    margin-top:24px;
    margin-left:36px;
    width:72px;
    height:72px;
}
#backname{
    float:left;
    margin-left:373px;
    margin-top:39px;
    height:43px;
    width:118px;
    font-size:36px;
    font-weight:bold;
}

#container{
    padding-top:160px;
    width:100%;
    height:1919px;
    background-color: #F0F0F0;
}

#tags{
    height:120px;
    background-color: #FFFFFF;
    overflow-x:auto;
    white-space: nowrap;
}

#taga{
    width:auto;
    float:left;
    margin-left:36px;
    margin-top:24px;
    height:72px;
    border:0;
    outline:0;
    border-radius:36px;
    background-color:#7B7B7B;
    display: inline-block;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

#tag1{

    float:left;
    }


#tag2{
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 24px;
    font-weight: bold;
    float:left;
  }
#tag3{

    float:right;

}


#addtag{
    margin-top:6px;
    background-color:#FFFFFF;
    height:160px;
    width:100%;
}

#tag{
    float:left;
    width:72px;
    height:72px;
    margin-top:38px;
    margin-left:72px;

}

input::placeholder {
    color: #BCBCBC;
}


#tagname{
    float:left;
    margin-top:40px;
    margin-left:72px;
    height:70px;
    font-size:59px;
    color:#000000;
    border:0;
    outline:0;
}


#addcaption{
    margin-top:40px;
    background-color:#FFFFFF;
    height:160px;
    width:100%;
}

#caption{
    float:left;
    width:72px;
    height:72px;
    margin-top:44px;
    margin-left:72px;

}

#captionname{
    float:left;
    margin-top:45px;
    margin-left:72px;
    height:70px;
    font-size:59px;
    color:#BCBCBC;
    border:0;
    outline:0;
}

#next{
    float:right;
    margin-top:1110px;
    margin-right:60px;
}

#nextbtn{
    width:332px;
    height:102px;
    /* background-color:#7B7B7B;
    color:#FFFFFF; */
    font-size:40px;
}
