#div_root{
    margin:auto;
    width:1080px;
}

#div_main{
    width:1080px;
    position:fixed;
    top:0;
    height:160px;
    text-align:center;
    background-color: white;
}

#goBackBtn{
    float:left;
    margin-top:47px;
    margin-left:47px;
    width:66px;
    height:66px;
}

.name{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #77BBFF;
  font-size: 48px;
  font-weight: bold;
}

#archiveBtn{
    float:right;
    margin-top:47px;
    margin-right:47px;
    width:66px;
    height:66px;
}

#container{
    padding-top:155px;
    width:100%;
    height:2000px;
    background-color: #d7d8dc;
}\

.dummy{
  height:300px;
  background-color: #ffffff;
  border-bottom: 1px solid #c0c0c0;
  padding: 12px;
}

.displays {
  height:300px;
  background-color: #ffffff;
  border-bottom: 1px solid #c0c0c0;
  padding: 12px;
}

#profile{
  margin-left: 64px;
  margin-top: 64px;
}
.stats{
  width:70%;
  float: right;
  margin-top: 80px;
}

.stat{
  float: left;
  width: 33.3%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.stattext{
  float: left;
  width: 33.3%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}


.feed {
    background-color: #ffffff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin: 7px 0;
    padding: 12px;
}

.header{
    height:100px;
}

.img{
    margin-top:24px;
    margin-left:36px;
    width :72px;
    height:72px;
}

.archive{
    float:right;
    margin-top:24px;
    margin-right:5px;
    width :72px;
    height:72px;
}

.more{
    float:right;
    margin-top:24px;
    margin-right:36px;
    width :72px;
    height:72px;
}

.content {
    margin-top: 5px;
}
#contentid{
    width:100%;
    height: 607px
}
.accessory {
    border-top: 1px solid #eee;
    height:120px;
    padding-top:10px;
    margin-top:10px;
    color: #999;
    font-size: 14px;
}

#comment{
    margin-top:24px;
    margin-left:36px;
    width :72px;
    height:72px;
}

#like{
    float:right;
    margin-top:24px;
    margin-right:5px;
    width :72px;
    height:72px;
}

#feedgift{
    float:right;
    margin-top:24px;
    margin-right:36px;
    width :72px;
    height:72px;
}


#footer {
    width:1080px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    height: 160px;
    background-color: #fafafa;
    text-align: center;
}
#tab{
    float: left;
    margin-top:44px;
    margin-bottom:44px;
    width: 20%;
}
