#div_root{
    margin:auto;
    width:1080px;
}

#div_main{
    width:1080px;
    position:fixed;
    top:0;
    height:120px;
    text-align:center;
    background-color: white;
}

#back{
    float:left;
    margin-top:24px;
    margin-left:36px;
    width:72px;
    height:72px;
}
#backname{
    float:left;
    margin-left:373px;
    margin-top:39px;
    height:43px;
    width:118px;
    font-size:36px;
    font-weight:bold;
}

#container{
    padding-top:160px;
    width:100%;
    height:1840px;
    background-color: #F0F0F0;
}

#addhome{
    background-color:#FFFFFF;
    height:160px;
    width:100%;
}

#home{
    float:left;
    width:72px;
    height:72px;
    margin-top:30px;
    margin-left:72px;
    
}

input::placeholder {
    color: #BCBCBC;
}

#homename{
    float:left;
    margin-top:45px;
    margin-left:72px;
    height:70px;
    font-size:59px;
    color:#BCBCBC;
    border:0;
    outline:0;
}

#addlocation{
    background: rgb(70,233,200);
    background: linear-gradient(90deg, rgba(70,233,200,1) 0%, rgba(210,56,255,1) 35%, rgba(254,162,42,1) 100%);
    height:60px;
    width:100%;
}

#loca1{
    float:left;
    margin-left:97px;
    height:60px;
    width:166.67px;
    border:0;
    outline:0;
    border-radius:30px;
    background-color:#46E9C8;
    color:#FFFFFF;
}

#loca2{
    float:left;
    margin-left:193.33px;
    height:60px;
    width:166.67px;
    border:0;
    outline:0;
    border-radius:30px;
    background-color:#D238FF;
    color:#FFFFFF;
}

#loca3{
    float:right;
    margin-right:96.67px;
    height:60px;
    width:166.67px;
    border:0;
    outline:0;
    border-radius:30px;
    background-color:#FEA22A;
    color:#FFFFFF;
}



#addcat{
    margin-top:40px;
    background-color:#FFFFFF;
    height:160px;
    width:100%;
}

#cat{
    float:left;
    width:72px;
    height:72px;
    margin-top:44px;
    margin-left:72px;
    border-radius:36px;
    
}

#catname{
    float:left;
    margin-top:45px;
    margin-left:72px;
    height:70px;
    font-size:59px;
    color:#BCBCBC;
    border:0;
    outline:0;
}

#addimage{
    margin-top:40px;
    background-color:#FFFFFF;
    height:607px;
    width:100%;
}

.image-upload>input {
    display: none;
}

#test1{
    width: 100%;
    height:auto;
}

#img-box{
    width:100%;
    height:100%;
    overflow: hidden;
}

#next{
    float:right;
    margin-top:460px;
    margin-right:60px;
    
}

#nextbtn{
    width:332px;
    height:102px;
    background-color:rgb(105, 105, 105);
    color:#FFFFFF;
    font-size:40px;
}
#nextbtn:disabled{
    width:332px;
    height:102px;
    background-color:rgb(187, 187, 187);
    color:#FFFFFF;
    font-size:40px;
}





#footer {
    width:1080px;
    height: 620px;
    position: fixed;
    bottom: 0;
    background-color: #d7d8dc;
    text-align: center;
    overflow: scroll;
    display: none;
}

#footer2 {
    width:1080px;
    height: 120px;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 120px;
    font-size:36px;
    font-weight:bold;
}

.container2{
    max-width: 1080px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
  
.userfeed{
    width: auto;
    padding-bottom: 300px;
}
  
.col-sm{
    display: block;
  
    height: auto;
    /* position: relative; */
    overflow: hidden;
    padding: 34.37% 0 0 0;
}
  
.selectImg{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}





















