* {
	margin: 0;
	padding: 0;
	/* dont allow user copy text*/
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

body {
  font-family: 'Lato', sans-serif;
}

ul,li {
	list-style: none;
}
input {
	/*background:white*/
	background-color: #fff;
	outline: none;
	color:#999;
}
.colorRed{
	color: #ffffff !important;
}

#div_root{
    margin:auto;
    width:1080px;
}

/*login or register, ?��体的位置*/
#loginOrRegister {
	/* position: fixed; */
	margin:auto;
	margin-top:30%;
	background-color: #77BBFF;
	width: 1000px;
	border-radius: 10px;
	text-align: center;
}
/*title*/
.title {
	height: 90px;
	line-height: 90px;
}
.title .login, .title .register{
	padding: 10px 0;
	color: rgba(255, 255, 255, 0.15);
	font-size: 40px;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 20px;
}
.title .login{
	text-align: right;
}
.title .register{
	text-align: left;
}

.title span:hover{
	color: #fdfffb;
}
/*?��录注?��?��体表?��信息*/
form {
	padding: 40px 0px;
}
#formInformation {
    background-color: #f2f2f2;
    margin: 0 0px 20px 0px;
}
.registerForm{
	display: none;
}

/*submit*/
.submit input {
	display: inline-block;
	width: 600px;
	background-color: #77BBFF;
	color: rgb(255, 255, 255);
	font-size: 40px;
	height: 80px;
	line-height: 40px;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 32px;
}
.submit input:hover{
	background-color: #66AAEE;
}
.box {
	padding-left: 60px;
}

.box li {
	line-height: 44px;
	width: 100%;
	overflow: hidden;
}

.box li label {
	width: 200px;
	height: 100px;
	float: left;
	line-height: 100px;
	text-align: right;
	padding-right: 40px;
	font-size: 24px;
}

.box li input{
	padding: 12px 0;
	font-size: 24px;
	width: 600px;
	height: 56px;
	line-height: 56px;
	border: 1px solid #dddddd;
	text-indent: 0.5em;
	float: left;
	border-radius: 10px;
}

/*验证?��*/

.box li .sradd {
	width: 300px;
	text-indent: 4px;
	font-size: 24px;
}

/*login vertification */
.authCode {
	background: #77BBFF;
	text-align: center;
	line-height: 80px;
	color: #fff;
	border-radius: 10px;
	font-size: 40px;
	letter-spacing: 3px;
	width: 256px;
	height: 82px;
	float: left;
	display: inline;
	cursor: pointer;
	margin-left: 20px;
}

/*sendaAuthCode*/
.sendaAuthCode{
    background: #77BBFF;
    text-align: center;
    line-height: 82px;
    color: #fff;
    border-radius: 5px;
    width: 256px;
    height: 84px;
    float: left;
    display: inline;
    cursor: pointer;
    margin-left: 20px;

		font-size: 24px;
}
/* .sendaAuthCode input:hover{
	background-color: #66AAEE;
} */

.error {
	clear: both;
	display: block;
	color: red;
	width: 600px;
	text-align: left;
	padding-left: 250px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	float: left;
	font-size: 24px;
	line-height: 36px;
}

.errorInput {
	border: 1px solid red !important;
}

.correctInput {
	border: 1px solid green !important;
}

.submit{
	margin-bottom:50px;
	background-color:#f2f2f2;
}

#finalLogin{
	margin-bottom:35px;
}
#finalSubmit{
	margin-bottom:35px;
}
