body {
  font-family: 'Lato', sans-serif;
}

#div_root{
  margin:auto;
  width:1080px;
  background-color: #d7d8dc;
  font-size: 30px;
}

#div_main{
    width:1080px;
    position:fixed;
    top:0;
    height:160px;
    text-align:center;
    background-color: white;
    box-shadow: 0px 5px 8px #888888;
}

#goBackBtn{
    float:left;
    margin-top:47px;
    margin-left:47px;
    width:66px;
    height:66px;
}

.name{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #FEA22A;
  font-size: 48px;
  font-weight: bold;
}

#archiveBtn{
    float:right;
    margin-top:47px;
    margin-right:47px;
    width:66px;
    height:66px;
}

#feedcontainer{
    padding-top:155px;
    width:100%;
    height:2000px;

}\

.dummy{
  /*for some reason the class at this position does not work*/
  background-color: #ff0000;
}

.bottompadding{
  padding-bottom: 36px;
}

.displays {
  height:20%;
  background-color: #ffffff;
  padding: 12px;
}

#crowdfunding {

  background-color: #ffffff;\
  border-bottom: 1px solid #c0c0c0;
}

.tabtitle{
  margin-left: 36px;
}

#profile{
  margin-left: 64px;
  margin-top: 64px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.stats{
  width:70%;
  float: right;
  margin-top: 80px;
}

.stat{
  float: left;
  width: 33.3%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.stattext{
  float: left;
  width: 33.3%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.displaysBtn{
  float: right;
  margin-top: 3%;
  margin-right: 10%;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 30%;
  font-size: 24px;
}

.userfeed{
  width: auto;
  background-color: #d7d8dc;
  padding-bottom: 300px;
}

.feedImg{
  width: 350px;
  height: 350px;
  padding: 4px;
  object-fit: cover;
}

.dummy{

}

.cfimage{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.col-sm-4{
  text-align: center;
}

#footer {
    width:1080px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    height: 160px;
    background-color: #fafafa;
    text-align: center;
}

#tab{
    float: left;
    margin-top:44px;
    margin-bottom:44px;
    width: 20%;
}
