body {
    font-family: 'Lato', sans-serif;
}

#div_root{
    margin:auto;
    width:1080px;
    height: 3000px;
    background-color: #F0F0F0;
    font-size: 40px;
}

.title {
    margin: 40px 40px 40px 40px;
    font-size: 70px;
    font-weight: bold;
}


.dashboard_box1{
    margin: 0px 18px 0px 36px;
    padding: 24px 36px 24px 36px;
    background-color: #FF0000;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(70,233,200,1) 0%, rgba(210,56,255,1) 35%, rgba(254,162,42,1) 100%);
}

.dashboard_box2{
    margin: 0px 36px 0px 18px;
    padding: 24px 36px 24px 36px;
    background-color: #FF0000;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(70,233,200,1) 0%, rgba(210,56,255,1) 35%, rgba(254,162,42,1) 100%);
}

.num{
    font-size: 160px;
    color: #FFFFFF;
    font-weight: bold;
    top: 0px;
    left: 0px;
}




.history_box{
    position: relative;
    margin: 36px 36px 36px 36px;
    padding: 24px 36px 24px 36px;
    width: 1008px;
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 30px;
}

.title_left, .title_content{
    float: left;
    display: inline-block;
}

.content_text{
    margin: 0px 16px 0px 16px;
    font-weight: bold;
    color: #2BC1BE;
}
/* history_cat */
.history_cat{
    height: 100px;
    margin: 24px 0px 24px 0px;
}

.profile, .catName{
    float: left;
    display: inline-block;
}

.profile{
    height: 100px;
    width: 100px;
    background-color: #707070;
    border-radius: 50%;
}

.catName{
    margin: 0px 36px 0px 36px;
    line-height: 100px;
    font-weight: bold;
    color: #FEA22A;

}
/* history_date */
.date_left{
    float: left;
    display: inline-block;
}
/* history-button */
.history_button{
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.btn{
    padding: 24px 24px 24px 24px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
}


#div_main{
    position: fixed;
    top: 0px;
    width: 1080px;
    height: 160px;
    text-align:center;
    background: #FFFFFF;
}

#back{
      float:left;
      margin-top:47px;
      margin-left:47px;
      width:66px;
      height:66px;
}

#backname{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
}


.tab{
    float: left;
    display: inline-block;
    width: 540px;
    height: 160px;
    text-align: center;
    color: #555555;
    line-height: 160px;

}

#tab2{
    opacity: 0.5;
}

.clear{
    clear: both;
}

#feedcontainer{
    padding-top:160px;
    width:100%;
    height:2000px;
}

#footer {
    width:1080px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    height: 160px;
    background-color: #fafafa;
    text-align: center;
}

.footer_tab{
    float: left;
    margin-top:44px;
    margin-bottom:44px;
    width: 20%;
}
