#div_root{
    margin:auto;
    width:1080px;
}

#div_main{
    width:1080px;
    position:fixed;
    top:0;
    height:160px;
    text-align:center;
    background-color: white;
}

#searchBtn{
    float:left;
    margin-top:47px;
    margin-left:47px;
    width:66px;
    height:66px;
}
#gam{
    float:left;
    margin-left:66px;
    margin-top:50px;
    height:60px;
    width:698px;
    border:0;
    outline:0;
    border-radius:30px;
    background-color:#F0F0F0;
}
#searchInput{
    width:620px;
    height:50px;
    background-color:#F0f0f0;
    border:0;
    outline:0;
    font-size:36px;
}
#xBtn{
    float:right;
    margin-top:44px;
    margin-right:44px;
    width:72px;
    height:72px;
}

#container{
    padding-top:155px;
    padding-bottom:155px;
    width:100%;
    background-color: #F0F0F0;
    min-height:1600px;
}



.feed {
    background-color: #ffffff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin: 7px 0;
    padding: 12px;
}


.header{
    height:120px;
}

.img{
    float:left;
    margin-top:24px;
    margin-bottom:24px;
    margin-left:36px;
    width :72px;
    height:72px;
    border-radius:36px;
}

.name{
    float:left;
    margin-top:24px;
    margin-left:36px;
    margin-bottom:24px;
    font-family:Segoe UI;
    font-weight:bold;
    font-size:48px;
}

.archive{
    float:right;
    margin-top:24px;
    margin-bottom:24px;
    margin-right:36px;
    width :72px;
    height:72px;
}

.more{
    float:right;
    margin-top:24px;
    margin-bottom:24px;
    margin-right:36px;
    width :72px;
    height:72px;
}

.content {
    margin-top: 5px;
}
#contentid{
    width:100%;
    height: 607px
}
.accessory {
    border-top: 1px solid #eee;
    height:120px;
    color: #999;
    font-size: 14px;
}

#comment{
    margin-top:24px;
    margin-left:36px;
    width :72px;
    height:72px;
}

#like{
    margin-top:24px;
    margin-left:36px;
    width :72px;
    height:72px;
}

#feedgift{
    float:right;
    margin-top:24px;
    margin-right:36px;
    width :72px;
    height:72px;
}


#footer {
    width:1080px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    height: 160px;
    background-color: #fafafa;
    text-align: center;
}
#tab{
    float: left;
    margin-top:44px;
    margin-bottom:44px;
    width: 20%;
}

.toast{
    position: fixed;
    bottom: 180px;
    text-align: center;
    max-width: 1080px;
}

.toast-header{
  padding: 20px;
  text-align: center;
  font-size: 36px;
}

.modal{
    font-size: 36px;
  }


.btn{
font-size: 24px;
}

.tabtitle{
    padding-left: 20px;
}

.cfimage{
width: 75px;
height: 75px;
object-fit: cover;
border-radius: 50%;
margin-top: 50%;
}
